<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title[page.lang] | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description[page.lang] }}{% endif %}">

  <link rel="stylesheet" type="text/css" href="http://upol.cz/typo3temp/Assets/97ca9dd456.css?1520982868" media="all">
  <link rel="stylesheet" type="text/css" href="http://upol.cz/typo3conf/ext/jh_magnificpopup/Resources/Public/css/magnific-popup.css?1473676307" media="all">
  <link rel="stylesheet" type="text/css" href="http://upol.cz/typo3conf/ext/owl_slider/Resources/Public/owl-carousel/owl.carousel.css?1473676367" media="all">
  <link rel="stylesheet" type="text/css" href="http://upol.cz/typo3conf/ext/owl_slider/Resources/Public/owl-carousel/owl.theme.css?1473676367" media="all">
  <link rel="stylesheet" type="text/css" href="http://upol.cz/typo3conf/ext/owl_slider/Resources/Public/owl-carousel/owl.transitions.css?1473676367" media="all">
  <link rel="stylesheet" type="text/css" href="http://upol.cz/typo3conf/ext/owl_slider/Resources/Public/owl-carousel/custom.css?1473676367" media="all">
  <link rel="stylesheet" type="text/css" href="http://upol.cz/fileadmin/ext/owlcarousel/owlcarousel-up.css?1464183383" media="all">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=latin-ext" media="all">
  <link rel="stylesheet" type="text/css" href="http://upol.cz/fileadmin/up/css/main.css?1487002899" media="all">
  <link rel="stylesheet" type="text/css" href="http://upol.cz/fileadmin/ext/extensions_temp.css?1542019305" media="all">
  <link rel="stylesheet" type="text/css" href="http://upol.cz/fileadmin/up/css/up.css?1487599462" media="all">  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}{% for post in posts %}
  <link rel="alternate" hreflang="{{ post.lang }}" href="{{ post.url }}" />{% endfor %}
  {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}{% for page in pages %}
  <link rel="alternate" hreflang="{{ page.lang }}" href="{{ page.url }}" />{% endfor %}
  <link rel="alternate" type="application/rss+xml" title="{{ site.title[page.lang] }}" href="{{ site.feed[page.lang] | prepend: site.baseurl | prepend: site.url }}">
</head>


